* {
    margin: 0;
    padding: 0;
}

/* STRUCTURE */
header {
    background-color: white;
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding in clockwise order */
    padding: 30px 36px;
}

body {
    font-family: sans-serif;
}

footer {
    background-color: white;
    border: 1px solid black;
    height: 129px;
    display: flex;
    justify-content: space-between;
    align-items: left;
    padding: 30px 36px;
}

/* TYPOGRAPHY */
h1 {
    font-size: 120px;
    line-height: 106px;
    margin-bottom: 72px;
}

h2 {
    font-size: 32px;
    font-weight: 500;
}

h3 {
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 10px;
}

h4 {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
}

p {
    font-size: 14px;
    font-weight: 200;
    margin-bottom: 120px;
}

.p2 {
    font-size: 10px;
    font-weight: 200;
}

/* HEADER */
.site-name {
    font-size: 36px;
    font-weight: 500;
}

.head-link {
    list-style-type: none;
    font-weight: 700;
    text-decoration: none;
    color: black;

    li {
        font-size: 18px;
        display: inline-block;

        &:first-child {
            margin-right: 44px;
        }

        &:nth-child(2) {
            margin-right: 44px;
        }
    }
}

.top-link {
    color: black;
    text-decoration: none;
}


/* HERO SECTION */
.hero-section {
    /* vh = viewpoint height */
    height: 100vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.call-to-action {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    color: black;

}


.info-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 320px;
    border: 1px solid black;
}

.info-section-item {
    display: flex;
    border: 0.5px solid black;
    padding: 30px 36px;
    flex-direction: column;
}

/* FOOTER */
.social-link {
    list-style-type: none;

    li {
        font-size: 14;
        display: inline-block;
        font-weight: 500;

        &:first-child {
            margin-right: 28px;
            margin-top: 58px;
        }

        &:nth-child(2) {
            margin-right: 28px;
        }
    }
}

.social {
    color: black;
    text-decoration: none;
}

.foot-link {
    list-style-type: none;

    li {
        font-size: 12px;
        font-weight: 550;
        margin-bottom: 16px;
        margin-right: 36px;


    }
}

.foot {
    color: black;
    text-decoration: black;
}